<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Online Laundry System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    @Styles.Render("~/template/css")

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!--//webfonts-->
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    @*<i class="fab fa-empire"></i>*@
                    <img src="~/Content/images/logo2.png" alt="logo" title="logo" />
                </a>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item active  mr-3">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="@Url.Action("AboutUs","Home")">ABOUT US</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="@Url.Action("ContactUs","Home")">CONTACT US</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="@Url.Action("Pricing","Home")">PRICING</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="@Url.Action("OrderOnline","Home")">ORDER ONLINE</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="btn btn-primary px-4" href="@Url.Action("Login","Home")" role="button">LOGIN</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="btn btn-primary px-4" href="@Url.Action("Register","Home")" role="button">REGISTER</a>
                        </li>
                    </ul>
                    

                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->

    @RenderBody()

    <!-- footer -->
    <footer class="py-md-5 pt-5 pb-4">
        <div class="container">
            <!-- footer grid top -->
            <div class="footerv2-w3ls text-center">
                <h4 class="w3ls-title text-capitalize pb-3">socialize with us</h4>
                <ul class="social-iconsv2 agileinfo mt-3">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="fv3-contact mt-3">
                    <span class="fas fa-envelope-open mr-2"></span>
                    <p>
                        <a href="mailto:example@email.com" class="text-dark">info@example.com</a>
                    </p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-phone-volume mr-2"></span>
                    <p>+456 123 7890</p>
                </div>
            </div>
            <!-- copyright -->
            <div class="cpy-right text-center pt-5">
                <p>
                    © 2020. All rights reserved.
                </p>
            </div>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- order modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize" id="exampleModalLabel1">order your laundry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post" class="p-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Your Name</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name1" class="col-form-label">Your Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Name" id="recipient-name1" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name2" class="col-form-label">Phone</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name2" required="">
                        </div>
                        <div class="form-group">
                            <label class="mr-2 col-form-label">Pick Up</label>
                            <input id="datepicker1" name="check in" type="text" value="mm/dd/yyyy" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <label class="mr-2 col-form-label">Delivery </label>
                            <input id="datepicker2" name="check out" type="text" value="mm/dd/yyyy" class="form-control" required="">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label col-form-label" for="l1">
                                <input type="checkbox" class="form-check-input" value="" id="l1">Wash& Fold
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label col-form-label" for="l2">
                                <input type="checkbox" class="form-check-input" value="" id="l2">Handwash
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label col-form-label" id="l3">
                                <input type="checkbox" class="form-check-input" value="" id="13">Dry Clean
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label col-form-label" for="l4">
                                <input type="checkbox" class="form-check-input" value="" id="l4">Carpets
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-form-label">Pickup Address:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="pick my laundry">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- //order modal -->
    @Scripts.Render("~/template/js")
    <!-- Banner text Responsiveslides -->
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //Banner text  Responsiveslides -->
    <!-- start-smooth-scrolling -->
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll ").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
             var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear'
             };
             */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- gallery swipebox -->
    <script>
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- effect -->
    <script>
        $(function () {
            $('.row2').adipoli({
                'startEffect': 'overlay',
                'hoverEffect': 'sliceDown'
            });
        });
    </script>
    <script>
        $(function () {
            $("#datepicker1,#datepicker2").datepicker();
        });
    </script>
    <!-- // Date picker -->
    <!-- testimonials -->
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: false,
                navigation: true,
                navigationText: true,
                pagination: true,
            });
        });
    </script>

</body>

</html>